*{
    margin: 0px;
    padding: 0px;
    
}
.header .header-logo{
    img{
        height: 100%;
        width: 200px;
        margin-top: -40px;
    }

}
.header {
    .header-nav{
       float: right;
}
ul{
   display: flex;
   padding: 18px;
   
   li{
    padding: 20px;
    list-style-type: none;
    
    a{
        text-decoration: none;
        font-size: 28px;
        color: rgb(104, 38, 148);
        

    }
   }
}

}
main{
    background-color: #ccc;
}
